body{
 font-size: 1rem;
 width: 90%;
 min-height: 100vh;
display: grid;
grid-template-columns: 0.7fr 1.3fr;
grid-template-rows: 10em 1fr 1fr 1fr;
padding: 1.5em;
}

.texto{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.texto2{
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

nav{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}
/* POP UP SECTION */
.popup {
 width: 100vh;
 position: relative;
 z-index: 999;
 background: transparent;
 }
.overlay {
 position: absolute;
 height: 100%;
 top: 0;
 bottom: 0;
 left: 2%;
 right: 0;
 visibility: hidden;
 opacity: 0;
 background: transparent;
 z-index: 999;

 }
.overlay:target {
 visibility: visible;
 opacity: 1;
 }

.top{
background: rgb(166, 215, 235);
 border: 1px black;
 height: 50px;
 width: 800px;
 border-radius: 15px 15px 0px 0px;

}
.windoww img{
    width: 300px;
    align-self: center;
}
.windoww{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
background: rgb(200, 225, 245);
width: 770px;
padding: 15px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.textopop{
    margin: 2px;
    width: fit-content;
}

@media only screen and (max-width:700px){
.column{
 display: flex;
 flex-direction: column;
 justify-content:space-between;
 }
}
